// @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --success: #4bb543;
  --danger: #ff0000;
}

html {
  font-family: ubuntu;
}

// reset css
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-animation {
  animation: none;
}

.no-style-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover,
  :focus {
    transform: scale(1.1);
  }
}

#status-modal-root {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  top: 0;
  right: 0;
}

@mixin default($status: "success") {
  width: 300px;
  background: ghostwhite;
  @if $status == "error" {
    border-bottom: 2px solid var(--danger);
    color: var(--danger);
    svg {
      color: var(--danger);
    }
  } @else {
    border-bottom: 2px solid var(--success);
    color: var(--success);
    svg {
      color: var(--success);
    }
  }
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  font-weight: 500;
  border-radius: 3px;
  opacity: 1;
  margin-left: 0px;
  z-index: 10;
  padding: 7px 8px 10px;

  &.onClose {
    animation: scaleModal 3s ease-in forwards;
  }

  p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  svg {
    font-size: 20px;
    font-weight: 500;
  }
}

.default {
  @include default();
}

// error modal style
.error {
  @include default($status: "error");
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// outline style
.outline {
  border-bottom: none;
  border: 2px solid inherit;
}

@keyframes scaleModal {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.03);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
