@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

// font-family: 'Space Grotesk', sans-serif;
.default {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: ghostwhite;
  border-bottom: 2px solid #4bb543;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  font-weight: 500;
  border-radius: 3px;
  opacity: 0;
  color: #4bb543;
  padding-top: 5px;
  position: absolute;
  margin-top: 120px;
  margin-left: 0px;
  z-index: 10;
  padding: 7px 8px;
  animation: scaleModal 6s ease-in forwards;

  p {
    font-size: 15px;
    font-weight: 600;
  }

  svg {
    color: #4bb543;
    font-size: 20px;
    font-weight: 500;
  }
}

// error modal style
.error {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: ghostwhite;
  border-bottom: 2px solid #ff0000;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.11);
  font-weight: 500;
  border-radius: 3px;
  opacity: 0;
  color: #ff0000;
  padding-top: 5px;
  position: absolute;
  margin-top: -40px;
  margin-left: 0px;
  z-index: 10;
  padding: 7px 8px;
  animation: scaleModal 6s ease-in forwards;

  p {
    font-size: 15px;
    font-weight: 600;
  }

  svg {
    color: #ff0000;
    font-size: 20px;
    font-weight: 500;
  }
}

// outline style
.outline {
  border-bottom: none;
  border: 2px solid inherit;
}

@keyframes scaleModal {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.03);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
